.homeBanner {
    position: relative;
    z-index: 1;
    height: 100vh;
    background-color: #f6fafb;
}

.homeBanner .bannerImages {
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeBanner .textWrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.homeBanner .text {
    max-width: 540px;
    width: 100%;
}

.homeBanner .text .title {
    font-size: var(--heading_70);
}

.homeBanner .text h5 {
    line-height: 37px;
    margin-bottom: 38px;
}