@font-face {
   font-family: 'Barlow';
   src: url('../fonts/Barlow-Regular.eot');
   src: url('../fonts/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Barlow-Regular.woff2') format('woff2'),
       url('../fonts/Barlow-Regular.woff') format('woff'),
       url('../fonts/Barlow-Regular.ttf') format('truetype'),
       url('../fonts/Barlow-Regular.svg#Barlow-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../Barlow-SemiBold.eot');
    src: url('../Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../Barlow-SemiBold.woff2') format('woff2'),
        url('../Barlow-SemiBold.woff') format('woff'),
        url('../Barlow-SemiBold.ttf') format('truetype'),
        url('../Barlow-SemiBold.svg#Barlow-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
   font-family: 'Barlow';
   src: url('../fonts/Barlow-Medium.eot');
   src: url('../fonts/Barlow-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Barlow-Medium.woff2') format('woff2'),
       url('../fonts/Barlow-Medium.woff') format('woff'),
       url('../fonts/Barlow-Medium.ttf') format('truetype'),
       url('../fonts/Barlow-Medium.svg#Barlow-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Barlow';
   src: url('../fonts/Barlow-Light.eot');
   src: url('../fonts/Barlow-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Barlow-Light.woff2') format('woff2'),
       url('../fonts/Barlow-Light.woff') format('woff'),
       url('../fonts/Barlow-Light.ttf') format('truetype'),
       url('../fonts/Barlow-Light.svg#Barlow-Light') format('svg');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Jost';
   src: url('../fonts/Jost-SemiBold.eot');
   src: url('../fonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Jost-SemiBold.woff2') format('woff2'),
       url('../fonts/Jost-SemiBold.woff') format('woff'),
       url('../fonts/Jost-SemiBold.ttf') format('truetype'),
       url('../fonts/Jost-SemiBold.svg#Jost-SemiBold') format('svg');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Jost';
   src: url('../fonts/Jost-Medium.eot');
   src: url('../fonts/Jost-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Jost-Medium.woff2') format('woff2'),
       url('../fonts/Jost-Medium.woff') format('woff'),
       url('../fonts/Jost-Medium.ttf') format('truetype'),
       url('../fonts/Jost-Medium.svg#Jost-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Jost';
   src: url('../fonts/Jost-Regular.eot');
   src: url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Jost-Regular.woff2') format('woff2'),
       url('../fonts/Jost-Regular.woff') format('woff'),
       url('../fonts/Jost-Regular.ttf') format('truetype'),
       url('../fonts/Jost-Regular.svg#Jost-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

