:root {
   /* ===== Colors ========== */
   --green: 11, 127, 83;
   --black: 37, 41, 50;
   --white: 255, 255, 255;
   --green: 20, 70, 46;
   --lightGreen2: 169, 216, 35;
   --lightGrey: 246, 250, 251;
   --lightSimon: 145, 221, 216;
   --lightDarkGrey: 189, 189, 189;
   --lightRed: 249, 145, 30;
   --darkOrange: 247, 139, 26;
   /* ===== Fonts ========== */
   --heading_70: 70px;
   --heading_45: 45px;
   --heading_25: 25px;
   --heading_26: 26px;
   --heading_24: 24px;
   --heading_22: 22px;
   --para_20: 20px;
   --para_16: 16px;
   /* ===== Fonts Family ========== */
   --jost: 'Jost';
   --barlow: 'Barlow';
   --trans: all 0.3s;
}

/*===========================================
   Body CSS Style Start
=============================================*/

::selection {
   color: rgb(var(--white));
   background: rgba(var(--green), 0.8);
}

a, button, [type="button"] {
   outline: none;
}

button:focus {
   outline: none;
}

html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Jost';
   font-family: 'Barlow';
}


ul, li, ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
   margin-bottom: 0;
   font-weight: 700;
   font-family: var(--jost);
}

a, a:hover {
   text-decoration: none;
   font-family: var(--barlow);
}

h1 {
   font-size: var(--heading_70);
}

h2 {
   font-size: var(--heading_45);
}

h3 {
   font-size: var(--heading_25);
}

h4 {
   font-size: var(--heading_26);
}

h5 {
   font-size: var(--heading_24);
}

h6 {
   font-size: var(--heading_22);
}

p {
   font-size: var(--para_16);
   font-weight: 400;
   font-family: var(--barlow);
}

.fw700 {
   font-weight: 700 !important;
}

.fw600 {
   font-weight: 600 !important;
}

.fw500 {
   font-weight: 500 !important;
}

.fw400 {
   font-weight: 400 !important;
}

.fw300 {
   font-weight: 300 !important;
}

.jost {
   font-family: 'Jost' !important;
}

.barlow {
   font-family: 'Barlow' !important;
}


.smallTitle {
   color: rgb(var(--lightGreen2));
   font-size: var(--heading_25);
   font-weight: 500;
   position: relative;
   font-family: var(--jost);
   margin-bottom: 20px;
}

.title {
   font-size: var(--heading_45);
   color: rgb(var(--black));
   line-height: 70px;
   font-weight: 600;
   font-family: var(--jost);
   margin-bottom: 50px;
}

.container {
   max-width: 1110px;
}

section {
   padding: 140px 0;
}
#root, 
#root >div{
   height: 100%;
}
/*===========================================
   Body CSS Style End
=============================================*/


/*===========================================
    Colors CSS Style Start
=============================================*/

/*===========================================
    Colors CSS Style End
=============================================*/


/*===========================================
    Button CSS Style Start
=============================================*/
.btn-group {
   display: inline-flex;
   column-gap: 16px;
}

.btn {
   min-width: 175px;
   height: 53px;
   font-size: var(--para_16);
   font-family: var(--barlow);
   color: rgb(var(--white));
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 0;
}

.GreenBtn {
   background-color: rgb(var(--green));
}

.GreenBtn:hover {
   background-color: rgb(var(--lightGreen2));
   color: rgb(var(--white));
}

.lightGreenBtn {
   background-color: rgb(var(--lightGreen2));
}

.lightGreenBtn:hover {
   background-color: rgb(var(--green));
   color: rgb(var(--white));
}

.links {
   font-size: 16px;
   padding: 0;
   border: 0;
   background-color: transparent;
   font-weight: 500;
   font-family: var(--barlow);
   color: rgb(var(--green));
   transition: all 0.3s;
}

.links:hover {
   color: rgb(var(--black));
}

/*===========================================
    Button CSS Style End
=============================================*/



/*===========================================
    Form CSS Style Start
=============================================*/
.form-group {
   margin-bottom: 25px;
}

label {
   font-size: var(--para_16);
   color: rgb(var(--black));
   font-family: var(--jost);
   font-weight: 500;
}

.form-control {
   height: 53px;
   border-radius: 0;
   border-color: #e2e2e2;
}

.form-control:focus {
   box-shadow: none;
   border-color: #e2e2e2;
}

/*===========================================
    Form CSS Style End
=============================================*/



/*===========================================
    Banner CSS Style Start
=============================================*/

.overlay {
   position: relative;
   z-index: 1;
}

.overlay::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(var(--black));
   opacity: 0.20;
   z-index: -1;
}

.banner {
   background-position: top right;
   background-size: 100%;
   background-repeat: no-repeat;
}

.innerBanner {
   background-color: rgb(var(--lightGrey));
   padding: 150px 0;
}

.innerBannerImage {
   background: url(../../../public/images/innerBanner.png) right bottom no-repeat, 
   url(http://localhost:3000/static/media/bannerVector.13ffaddc9c36572be943.png) top left no-repeat;
}

.aboutBannerImage {
   background-image: url(../../../public/images/flat-lay-with-paper-bag-vegetables-fruits-white.png);
}

/* .bannerVectorImage {
   background-image: url(http://localhost:3000/static/media/bannerVector.13ffaddc9c36572be943.png);
   background-size: auto;
   background-position: left top;
} */

/*===========================================
  Banner CSS Style End
=============================================*/



/*===========================================
    Navigation CSS Style Start
=============================================*/
header {
   background-color: var(--lightDarkGrey);
   padding: 45px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
}

header .navbar-brand {
   padding: 0;
}

.navbarWraper {
   display: flex;
   align-items: center;
}

.navigationMenu {
   margin-left: auto;
   display: flex;
   column-gap: 35px;
}

.iconMenu {}

.navigationMenu .nav-item a {
   font-family: var(--barlow);
   color: rgb(var(--black));
   font-size: var(--para_20);
   padding: 0;
   transition: var(--trans);
}

.navigationMenu .nav-item a:hover {
   color: rgb(var(--lightGreen2));
}




.iconMenu {
   display: flex;
   column-gap: 12px;
   margin-left: 45px;
}

.iconMenu .nav-item a,
.heartIcon {
   width: 42px;
   height: 42px;
   background-color: #fff;
   color: rgb(var(--lightGreen2));
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: var(--trans);
}

.iconMenu .nav-item a:hover {
   color: rgb(var(--green));
}

.shopingCart {
   position: relative;
}

.shopingCart .count {
   position: absolute;
   top: -1px;
   right: -1px;
   background-color: rgb(var(--green));
   color: rgb(var(--white));
   border-radius: 50px;
   display: inline-block;
   width: 13px;
   height: 13px;
   font-size: 8px;
   font-family: var(--jost);
   font-weight: 400;
   line-height: 13px;
   text-align: center;
}

/*===========================================
    Navigation CSS Style End
=============================================*/

/*===========================================
    HomePage CSS Style Start
=============================================*/
.homeBanner {
   position: relative;
   z-index: 1;
   height: 100vh;
   background-color: #f6fafb;
}

.homeBanner .bannerImages {
   mix-blend-mode: multiply;
}

.homeBanner .textWrapper {
   position: absolute;
   top: 50%;
   width: 100%;
   z-index: 1;
   margin: 0 auto;
   left: 0;
   right: 0;
   transform: translateY(-50%);
}

.homeBanner .text {
   max-width: 540px;
   width: 100%;
}

.homeBanner .text .title {
   font-size: var(--heading_70);
}

.homeBanner .text h5 {
   line-height: 37px;
   margin-bottom: 38px;
}

.loginForm {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loginForm .container {
   max-width: 730px;
}

.loginForm .wrapper {
   background-color: rgb(var(--white));
   border-top: 3px solid rgb(var(--lightGreen2));
   padding: 40px 50px;
   margin: 0 auto;
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.loginFormWrapper {
   max-width: 500px;
}

.categories {}

.categories .text {
   padding: 80px 30px;
   position: relative;
   overflow: hidden;
   transform-style: preserve-3d;
}

.categories .text:hover {}

.categories .text img {
   position: absolute;
   right: 25px;
   bottom: 0px;
   filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0));
   transform: translateZ(50px);
   transition: var(--trans);
}

.categories .text:hover img {
   filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.2));
}

.categories .text img[alt="Vegitables"] {
   right: -7px;
   bottom: -5px;
}

.categories .text h3 {
   font-family: var(--jost);
   font-size: 28px;
   line-height: 37px;
   font-weight: 400;
   transform: translateZ(100px);
   margin: 0 0 42px 0;
}

.categories .text:hover h3 {
   /* text-shadow: 0 0 3px rgba(51, 51, 51, 0.3); */
}

.categories .text .textBox {
   transform: translateZ(50px);
   /* max-width: 140px; */
}

.categories .text a {
   color: rgb(var(--white));
   font-weight: 600;
   font-size: var(--para_16);
   font-family: var(--barlow);
   text-transform: uppercase;
   transition: var(--trans);
}

.categories .text a::after {
   content: "\f054";
   font-family: "fontawesome";
   margin-left: 10px;
   font-size: 12px;
   transition: var(--trans);
}

.categories .text:hover a {
   color: rgb(var(--green));
}

.categories .text a:hover::after {
   margin-left: 15px;
}

.trendingProductCard {
   background-color: rgb(var(--lightGrey));
   padding: 55px 0;
   position: relative;
   margin-bottom: 30px;
}

.trendingProductCard .heartIcon,
.trendingProductCard .hot {
   position: absolute;
   right: 20px;
   top: 20px;
   cursor: pointer;
   color: #bdbdbd;
}

.trendingProductCard .heartIcon:hover {
   background-color: rgb(var(--lightGreen2));
   color: rgb(var(--white));
}

.trendingProductCard .hot {
   right: auto;
   top: 0;
   left: 0;
   min-width: 50px;
   height: 28px;
   line-height: 28px;
   font-weight: 500;
   font-size: 15px;
   font-family: var(--jost);
   background-color: #d9485b;
   color: rgb(var(--white));
}

.trendingProductCard .img {
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.trendingProductCard .img img {}

.trendingProductCard .text {}

.trendingProductCard .text h4 {
   font-family: var(--jost);
   color: rgb(var(--black));
   margin-bottom: 20px;
   font-weight: 600;
}

.trendingProductCard .text h6 {
   margin-bottom: 25px;
}

.trendingProductCard .text h6 span {}

.trendingProductCard .text h6 span.discountPrice {
   font-weight: 400;
   color: #b2b3b4;
   font-family: var(--barlow);
   text-decoration: line-through;
}

.trendingProductCard .text h6 span.price {
   color: rgb(var(--lightGreen2));
   font-weight: 600;
}

.trendingProductCard .text .btn {
   min-width: 120px;
   height: 40px;
   font-size: 14px;
}

.index__on___2g4jr {
   color: #fccc42 !important;
}

.index__root___1g6PR {
   margin-bottom: 10px;
}



.homeAboutSection .textWrap {
   background-color: #fff;
   padding: 0 65px;
}
.testiSlider {}
.testiSlider .slick-slide >div {
   margin:0 15px;
}
.testiSlider .box{
   background-color: rgb(var(--lightGrey));
   border-top: 2px solid rgb(var(--lightGreen2));
   padding: 40px;
}
.testiSlider .box p{
   font-size: 23px;
   color: #6c6c6c;
   font-style: italic;
   line-height: 35px;
}
.testiSlider .box .ratingStar{}
.testiSlider .box h6{
   color: rgb(var(--green));
   font-family: var(--jost);
   font-weight: 500;
}
.testiSlider .box h6 span{
   color: rgb(var(--lightGreen2));
   font-style: 16px;
}
/*===========================================
    HomePage CSS Style End
=============================================*/



@media (max-height: 768px) {
   .loginForm, .homeBanner {
      height: auto;
   }

}