/* a,
button,
[type="button"] {
    outline: none;
    text-decoration: none;
}

button:focus {
    outline: none;
}

body .btn {
    min-width: 175px;
    height: 53px;
    font-size: var(--para_16);
    font-family: var(--barlow);
    color: rgb(var(--white));
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body .GreenBtn {
    background-color: rgb(var(--green));
}

body .GreenBtn:hover {
    background-color: rgb(var(--lightGreen2));
    color: rgb(var(--white));
}

body .lightGreenBtn {
    background-color: rgb(var(--lightGreen2));
}

body .lightGreenBtn:hover {
    background-color: rgb(var(--green));
    color: rgb(var(--white));
} */